/* 居中容器(版心) */


.center-wrap {
    width: 1200px;
    margin: 0 auto;
}

.clear {
    clear: both;
}



/* php验证 */
p.warn {
    position: relative;
    left: -28px;
    top: -648px;
    font-size: 12px;
    color: red;
    z-index: 999999;
}

